<h1>Angular Excel Export & Import Example</h1>
 
<table class="table table-hover" id="exportTable">
  <thead>
    <tr>
      <th scope="col">Image</th>
      <th scope="col">Manufacturer</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
    </tr>
  </thead>
  <tbody><tr></tr>
    <tr *ngFor="let item of data;">
      <td><img src="{{item.imgBase64}}" height=100px; width=100px;/></td>  
      <td>{{item.Manufacturer}}</td>
      <td>{{item.Description}}</td>
      <td>{{item.Price}}</td>
      <td>{{item.Quantity}}</td>
    </tr> 
  </tbody>
</table>
 
 <button type="button" class="btn btn-primary" (click)="exportExcel()">Export</button> 
 