mat-table {
    width: 90%;
    /* padding: 50px 50px;
    border:  1px solid black;
    vertical-align: middle; */
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 80%;
  }

  mat-header-cell{
    font-size: 16px;
    font-weight: 500;
  }

  .example-container {
    width: 100%;
    max-width: 100%;
    /* overflow-x: auto;
    overflow-y: hidden; */
  }
  
  .example-spacer {
    flex: 1 1 auto;
    }
    .logo {
      padding: 0px 5px;
      font-size: 15px;
      /* white-space: nowrap; */
      /* display: inline-block; */
      align-items: center;
      }