.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 90%;
    height: auto;
  }
  
  mat-form-field {
    width: 100%;
    line-height: 2.125;
  }

  ::ng-deep.mat-dialog-container {
    padding: 0px !important;
    height: auto !important;    
    overflow-y: hidden;
    overflow-x: hidden;
  }
  .mat-dialog-actions {
    justify-content:flex-end;
    position: relative;
    bottom: 1rem;
    /* top: 1rem; */
    }  

    @media(max-width: 1200px) {

      ::ng-deep.mat-dialog-container {
        padding: 0px !important;
        height: auto !important;
        
        /* overflow: auto; */
      }
    
    }
  /* .mat-dialog-container {
    width:350px;
    min-height: 'calc(100vh - 90px)';
    height:60%;
  } */