
  .close-button{
    float: right;
    top:-24px;
    right:-20px;
  }
  
  .close-icon {
    transition: 1s ease-in-out;
  }


  ::ng-deep .container-fluid { padding:0 !important; }
  ::ng-deep .sr-only { display: none; }

 
@media(max-width: 1200px) {
  ngb-carousel {
    max-width: 700px;
    margin: 50px auto;
  }

  ngb-carousel img {
      width: 100%;
      outline: none;
  }

  ngb-carousel {
      width: inherit;
      height: inherit;
  }

}