.mat-cell:first-of-type, mat-header-cell:first-of-type, mat-footer-cell:first-of-type {
    padding-left: 0px;
  }
  
  .mat-cell:last-of-type, mat-header-cell:last-of-type, mat-footer-cell:last-of-type {
    padding-left: 0px;
  }
  
  ::ng-deep.mat-dialog-container {
    padding: 0px !important;
    /* height: 60%; */
    overflow-x: hidden;
    
  }
  
  
    /* .example-container {
      height: 400px;
      width: 550px;
      max-width: 100%;
      overflow: auto;
    }
     */
    /* table {
      width: 100%;
      border: 1px solid #313030;
      border-collapse: collapse;
    } */
    
    /* .table-container {
      display: flex;
      flex-direction: column;
      max-height: 100%;
      min-width: 400px;
      overflow-x: auto;
    
    } */
  
    .mat-table {
      overflow-x: auto;
      /* width: 100%; */
      max-width: 100%;
      max-height: 100%;
      border: 1px solid #313030;
    }
  
    .mobile-label {
      display: none;
    }
 
    .mat-input-element {
      border: 1px solid #313030;
      /* width:40%; */
  }
  .mat-select{
    border: 1px solid #313030;
  }
  
  .mat-row {
    height: auto;
      border-top: 1px solid #313030;
    }  
  .mat-cell{
      /* border: 1px solid #313030; */
      justify-content: center;
      padding: 2px 2px 2px 0;
  }
  
  .mat-header-cell{
      /* border: 1px solid #313030; */
      justify-content: center;
      font-weight: bold;
     font-size: 14px;     
      padding: 3px 3px 3px 0;
  }
  
    .close-button{
      float: right;
      top:-10px;
      right:-10px;
    }
    
    .close-icon {
      transition: 1s ease-in-out;
    }
  
    .mat-dialog-actions {
      justify-content:flex-end;
      position: relative; 
      bottom: 0.5rem;
      /* top: 3rem; */
      }
    
      .mat-stroked-button {
        border: 1px solid currentColor;
        padding: 0 1px 0 1px;
        line-height: 24px;
        font-size: 11px;
    }
    .mat-icon.mat-accent {
      color: #ff9840;
  }

  .mat-column-select {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 2% !important;
    width: 2% !important;  
  }
  .mat-column-qty {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 3% !important;
    width: 3% !important;  
  }

 
  .mat-column-pullqty {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 3% !important;
    width: 3% !important;  
  }
  .mat-dialog-title {
    background-color: rgb(219, 213, 213);
} 

.mat-dialog-content {
    display: block;
    margin: 0 -24px;
    padding: 0 10px 0px 24px;
    max-height: 65vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
    /* .mat-select-panel {
      height: 10px;
      } */
  
      @media(max-width: 1200px) {
        .mobile-label {
          width: 60px;
          display: inline-block;
              font-weight: bold;
        }
      
        .mat-header-row {
          display: none;
        }
      
        .mat-row { 
          flex-direction: column;
          align-items: start;
          padding: 8px 24px;
        }
  
        .mat-dialog-actions {
          justify-content:flex-end;
          position: relative; 
          top: 1rem;
          }
  
          .mat-stroked-button {
            border: 1px solid currentColor;
            padding: 0 1px 0 1px;
            line-height: 24px;
            font-size: 10px;
        }

        .mat-column-qty {
          /* word-wrap: break-word !important;
          white-space: unset !important;
          flex: 0 0 7% !important; */
          width: 30% !important;  
        }
        .mat-column-pullqty {
          /* word-wrap: break-word !important;
          white-space: unset !important;
          flex: 0 0 3% !important; */
          width: 30% !important;  
        }

        .mat-column-select {
          /* word-wrap: break-word !important;
          white-space: unset !important;
          flex: 0 0 2% !important; */
          width: 10% !important;  
        }

        .mat-column-dest_bldg{
          width: 60% !important;  

        }
        .mat-column-dest_flr{
          width: 60% !important;  

        }
        
      
        .close-button{
          float: right;
          top:-5px;
          right:auto;
        }
        

        
      }
   
  
  