<div ngx-dropzone  (change)="onSelect($event)" style="background:yellow; width:80px; height:80px" [expandable]="true">
	<!-- <img src="{{imgUrl+imgfiles[0].name}}" width="80px" height="80px"> -->
	
	<div *ngIf="imgName">
		<img src="{{imgUrl+imgName}}" width="80px" height="80px">
	</div>
	<div *ngIf="!imgName">
		{{'No Image'}}
	</div>
	<!-- <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview"  [file]="imgfiles[0]"> -->
		<!-- <ngx-dropzone-label>{{ imgfiles[0].name }}</ngx-dropzone-label> -->
	<!-- </ngx-dropzone-image-preview> -->
</div>

<div ngx-dropzone (change)="onSelectDoc($event)" style="background:yellow; width:80px; height:80px" [expandable]="true" 
ngx-dz-hovered ngx-dz-disabled>
<!-- <div class="custom-dropzone" ngx-dropzone (change)="onSelectDoc($event)"> -->
	<!-- <div class="docFile" [innerHtml]="htmlToAdd"></div> -->
	<!-- <div class="docFile" (click)="false; $event.stopPropagation();"></div> -->
	
	<div *ngFor="let f of docfiles" style='background:rgb(242, 242, 236); height:80px' (click)="false; $event.stopPropagation();">
		<div>
		<a href="https://systemsource.s3.us-west-2.amazonaws.com/inventory/127/4CSDN06.jpg" target="_blank">
			<span class="ui-icon ui-icon-document" style="display:inline-block"></span>
		{{ f.name }}
		</a>
	</div>
	</div>

<!-- </div> -->
</div>

<!-- <ngx-dropzone [customContent]="customDropzone" (filesDropped)="onFilesDropped($event)">
    <ng-template #customDropzone>
        <div class="custom-dropzone">
            This is my custom content
        </div>
    </ng-template>
</ngx-dropzone> -->