<!-- <div style="height: 100vh;">

    <mat-toolbar color="primary">  
      <span>Category name</span>  
      <span class="example-spacer"></span>  
      <span>Seattle Inventory</span>
      <div fxShow="true" fxHide.lt-md="true">
            <span class="logo">Filter by building:</span>
            <mat-form-field appearance="fill">
                <mat-label>Select All</mat-label>
                <mat-select [formControl]="buildingControl">
                
                <mat-option *ngFor="let building of inventoryBuldinglist" [value]="building">
                    {{building}}
                </mat-option>
                </mat-select>
            </mat-form-field>
            <span class="logo">Filter by floor:</span>
            <mat-form-field appearance="fill">
                <mat-label>Select All</mat-label>
                <mat-select [formControl]="floorControl">
                
                <mat-option *ngFor="let floor of inventoryFloorlist" [value]="floor">
                    {{floor}}
                </mat-option>
                </mat-select>
            </mat-form-field>
            <img src="./assets/images/logo-footer.png" heigh="20">
            <mat-chip-list aria-label="selection">
                <mat-chip>
                    <button mat-icon-button>
                        <mat-icon>shopping_cart</mat-icon>
                    </button>
                    <span>0 items</span>
                </mat-chip>            
            </mat-chip-list>  
       
  
 
      </div>    
  
    </mat-toolbar>  
  </div> -->

<mat-toolbar>
    <button *ngIf="deviceXs" type="button" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
    <mat-toolbar-row fxLayoutAlign="space-between center">
        <div>category</div>
        <div>         
            <span class="logo" style="font-weight: 500;font-size: large;">Seattle Inventory</span>
        </div>
        <div>
            <span class="logo">Filter by building:</span>
            <mat-form-field appearance="fill" style="width: 50%; height: 25%">
                <mat-label>Select All</mat-label>
                <mat-select [formControl]="buildingControl" (selectionChange)="applyBuildingFilter($event.value)">
                
                <mat-option *ngFor="let building of inventoryBuldinglist" [value]="building">
                    {{building}}
                </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <span class="logo">Filter by floor:</span>
            <mat-form-field appearance="fill" style="width: 50%; height: 25%;">
                <mat-label>Select All</mat-label>
                <mat-select [formControl]="floorControl">
                
                <mat-option *ngFor="let floor of inventoryFloorlist" [value]="floor">
                    {{floor}}
                </mat-option>
                </mat-select>
            </mat-form-field>
        </div>      
        <div>
            <span class="logo"><img src="./assets/images/logo-footer.png" height="30"></span>
        </div>
        <div>
            <mat-chip-list aria-label="selection">
                <mat-chip>
                    <button mat-icon-button>
                        <mat-icon>shopping_cart</mat-icon>
                    </button>
                    <span>0 items</span>
                </mat-chip>            
            </mat-chip-list>  
        </div>
    </mat-toolbar-row>
  
  
  </mat-toolbar>
