<!-- <app-header [deviceXs]="deviceXs"></app-header>
<app-content [deviceXs]="deviceXs"></app-content>  -->

<!-- <app-flex-layout-header [deviceXs]="deviceXs"></app-flex-layout-header> -->
<!-- <app-flex-layout-content [deviceXs]="deviceXs"></app-flex-layout-content>  -->

<router-outlet></router-outlet>
<!-- 
<div class="container">
    <h1>RSVP</h1>
    <div class="row">
        <div class="col-lg-6">
            <app-events (eventClicked)="childEventClicked($event)"></app-events>
        </div>
        <div class="col-lg-6">
            <app-event-details [event]="clickedEvent"></app-event-details>
        </div>
    </div>
</div> -->
