<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >

	<variable name="logDirectory" value="C:\temp\Logs" />
	<variable name="logDirectoryAttachment" value="C:\temp\Logs\Attachments" />
	<variable name="logDirectoryJson" value="C:\temp\Logs\Json" />


	<targets>
		<target name="logfile" xsi:type="File" fileName="${logDirectory}\${date:format=yyyy-MM}\Log${date:format=yyyyMMdd}.log"
				layout="${date:format=yyyy\/MM\/dd HH\:mm\:ss} | ${level} | ${windows-identity:domain=true} | ${message}"/>
		<!-- |  ${stacktrace} -->

		<target name="logfileattachment" xsi:type="File"
		filename="${logDirectoryAttachment}\${date:format=yyyy-MM}\Log${date:format=yyyyMMdd}.log"
		layout="${date:format=yyyy\/MM\/dd HH\:mm\:ss} | ${level} | ${windows-identity:domain=true} | ${message}" />

		<target name="logfilejson" xsi:type="File"
	  filename="${logDirectoryJson}\${date:format=yyyy-MM}\Log${date:format=yyyyMMdd}.log"
	  layout="${date:format=yyyy\/MM\/dd HH\:mm\:ss} | ${level} | ${windows-identity:domain=true} | ${message}" />

		<target name="logconsole" xsi:type="Console" />
	</targets>
	<rules>
		<!--<logger name="*" minlevel="Info" writeTo="logfile,logconsole" />-->
		<logger name="logfile" minlevel="Info" writeTo="logfile" />
		<logger name="logfileattachment" minlevel="Info" writeTo="logfileattachment" />
		<logger name="logfilejson" minlevel="Info" writeTo="logfilejson" />
		
		<!--<logger name="logfileattachment" minlevel="Info" writeTo="logfileattachment" />
		<logger name="logfilejson" minlevel="Info" writeTo="logfilejson" />-->

	</rules>
</nlog>