<!-- <button mat-button class="close-icon" [mat-dialog-close]="true">
  <mat-icon>close</mat-icon>
</button> -->

  
<mat-dialog-content>
    <button mat-icon-button class="close-button" [mat-dialog-close]="true">
      <mat-icon class="close-icon">close</mat-icon>
    </button>
    <h2 mat-dialog-title> 
       Select pull location
    </h2>  
    <!-- <div class="table-container mat-elevation-z8"> -->
      <mat-table [dataSource]="dataSource" >
          <ng-container matColumnDef="building">
            <mat-header-cell *matHeaderCellDef> Building </mat-header-cell>
            <mat-cell *matCellDef="let element"> 
              <span class="mobile-label">Building:</span>
              {{element.building | titlecase}} 
            </mat-cell>
          </ng-container>        
        
          <ng-container matColumnDef="floor">
            <mat-header-cell *matHeaderCellDef> Floor </mat-header-cell>
            <mat-cell *matCellDef="let element"> 
              <span class="mobile-label">Floor:</span>
              {{element.floor}} 
            </mat-cell>
          </ng-container>
        
          
          <ng-container matColumnDef="mploc">
            <mat-header-cell *matHeaderCellDef> Location </mat-header-cell>
            <mat-cell *matCellDef="let element"> 
              <span class="mobile-label">Location:</span>
              {{element.mploc}} 
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="condition">
            <mat-header-cell *matHeaderCellDef> Condition </mat-header-cell>
            <mat-cell *matCellDef="let element"> 
              <span class="mobile-label">Condition:</span>
              {{element.cond}} 
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="qty">
              <mat-header-cell *matHeaderCellDef> Qty On Avail </mat-header-cell>
              <mat-cell *matCellDef="let element"> 
              <span class="mobile-label">Qty On Avail:</span>
              {{element.qty}} </mat-cell>
            </ng-container>
      
          <!-- <ng-container matColumnDef="">
              <th mat-header-cell *matHeaderCellDef> Pull Qty </th>
              <td mat-cell *matCellDef="let element"> <input [(ngModel)]="element.qty" matInput type="text" /> </td>
              <td mat-cell *matCellDef=""> Add to cart </td>
          </ng-container> -->
  
          <!-- <ng-container matColumnDef="star" stickyEnd> -->
            <ng-container matColumnDef="pullqty">
              <mat-header-cell *matHeaderCellDef>  
                <!-- <mat-checkbox (change)="$event ? masterToggle() : null"
                [checked]="selection.hasValue()"
                [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox> -->
                Pull Qty </mat-header-cell>
              <mat-cell *matCellDef="let element;let i = index">
              <span class="mobile-label">Pull Qty:</span>
              <!-- <mat-checkbox (click)="$event.stopPropagation()"
              (change)="$event ? selection.toggle(element) : null"
              [checked]="selection.isSelected(element)">
              </mat-checkbox> -->
                  <input matInput type="text" [formControl]="numberFormControl"  #pullqty id="{{'numberFormControl'+i}}"/>
                  <!-- <input matInput type="text" [formControl]="numberFormControl"  #pullqty max="{{element.qty}}"/> -->
                  <!-- <mat-error *ngIf="numberFormControl?.invalid">  
                    <div *ngIf="numberFormControl.errors.required">Qty is required</div>  
                </mat-error>   -->
                <!-- <button mat-stroked-button [disabled]="numberFormControl.invalid" (click)=addtocart(element,pullqty.value,i)>Add to cart</button> -->
                <!-- <mat-error *ngIf="numberFormControl.hasError('required') && !selection.isSelected(element)"  >
                  Qty is required!
                </mat-error> -->
                <mat-error *ngIf="numberFormControl.hasError('pattern')"  >
                  Qty is only accept digit!
                </mat-error>
                <!-- <mat-error *ngIf="numberFormControl.hasError('max')"  >
                  only {{element.qty}} is available!
                </mat-error> -->
                  <!-- <mat-error *ngIf="numberFormControl.hasError('required') && firstError === 'numberFormControl'">
                    Qty is Required!
                  </mat-error>
                  <mat-error *ngIf="numberFormControl.hasError('number')">
                    Please enter valid number!!!!
                  </mat-error> -->
                  <!-- <mat-error *ngIf="numberFormControl.hasError('required')">
                    Qty is <strong>required</strong>
                  </mat-error> -->
                  <!-- <button type="button" [disabled]="numberFormControl.invalid" (click)=addtocart(element,pullqty.value,i)>Add to cart</button> -->
                  
              </mat-cell>
            </ng-container>      
              <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
              <mat-header-cell *matHeaderCellDef>
                <!-- <mat-checkbox (change)="$event ? masterToggle() : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox> -->
                <mat-checkbox (change)="checkUncheckAll()" [(ngModel)]="masterSelected">
                </mat-checkbox>
            
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <!-- <mat-checkbox (click)="$event.stopPropagation();"
                              (change)="$event ? selection.toggle(row) : null"
                              [checked]="selection.isSelected(row)">
                </mat-checkbox> -->
                <mat-checkbox   [(ngModel)]="row.isSelected" 
                          (change)="isAllSelected()">
                </mat-checkbox>               
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="dest_bldg">
              <mat-header-cell *matHeaderCellDef></mat-header-cell>
              <mat-cell *matCellDef="let element;let i = index">
              <!-- <mat-form-field style="width: 55%; height: 10%;"> -->
                <!-- <mat-select placeholder="Dest Building" [formControl]="dest_buildingFormControl" [(ngModel)]="bldgSelected">       -->
                  <mat-select placeholder="Dest Building" [formControl]="dest_buildingFormControl" id="{{'dest_buildingFormControl'+i}}">      
                    <mat-option *ngFor="let dest_buld of inventoryBuldinglist"
                        [value]="dest_buld">
                        {{dest_buld}}
                    </mat-option>
                    <mat-option [value]="'Donate'">Dispose/Donate</mat-option>
                    <mat-option [value]="'Recycle'">Dispose/Recycle</mat-option>      
                </mat-select> 
                <mat-icon aria-hidden="false" color="accent">add</mat-icon>
                <!-- <mat-icon aria-hidden="false" color="accent" (click)="showOtherBldg = true;">add</mat-icon> -->
                <!-- <input matInput type="text" [formControl]="otherBldgFormControl" [hidden]="!showOtherBldg"/> -->
                <mat-error *ngIf="dest_buildingFormControl.hasError('required') && firstError === 'dest_buildingFormControl'">
                  Destination Building is Required!
                </mat-error>
            <!-- </mat-form-field> -->
            </mat-cell>
            </ng-container>
            <ng-container matColumnDef="dest_flr">
              <mat-header-cell *matHeaderCellDef></mat-header-cell>
              <mat-cell *matCellDef="let element;let i = index">
              <!-- <mat-form-field style="width: 55%; height: 10%;">  -->
                <!-- <mat-select placeholder="Dest Floor" [formControl]="dest_floorFormControl" [(ngModel)]="flrSelected"> -->
                  <mat-select placeholder="Dest Floor" [formControl]="dest_floorFormControl" id="{{'dest_floorFormControl'+i}}">
                    <mat-option *ngFor="let dest_floor of inventoryFloorlist"
                        [value]="dest_floor">
                        {{dest_floor}}
                    </mat-option>
                    <mat-option [value]="'NA'">Not applicable</mat-option>                   
                </mat-select>
                <mat-icon aria-hidden="false" color="accent">add</mat-icon>
                <!-- <mat-icon aria-hidden="false" color="accent" (click)="showOtherFlr = true;">add</mat-icon>
                <input matInput type="text" [formControl]="otherFlrFormControl" [hidden]="!showOtherFlr"/> -->
                <mat-error *ngIf="dest_floorFormControl.hasError('required') && firstError === 'dest_floorFormControl'">
                  Destination Building is Required!
                </mat-error>
              <!-- </mat-form-field> -->
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="dest_loc">
              <mat-header-cell *matHeaderCellDef></mat-header-cell>
              <mat-cell *matCellDef="let element;let i = index">
              <!-- <mat-form-field style="width: 55%; height: 10%;">
                <mat-label class="required">Dest Rm/Flr/Area</mat-label> -->
                <!-- <input type="text" matInput [formControl]="dest_locFormControl" placeholder="Dest Rm/Flr/Area" [(ngModel)]="locEntered" id="{{'dest_locFormControl'+i}}">       -->
                <input type="text" matInput [formControl]="dest_locFormControl" placeholder="Dest Rm/Flr/Area" id="{{'dest_locFormControl'+i}}">      
            <!-- </mat-form-field>  -->
            </mat-cell>
            </ng-container>
            <ng-container matColumnDef="req_inst_date">
              <mat-header-cell *matHeaderCellDef></mat-header-cell>
              <mat-cell *matCellDef="let element;let i = index">
              <!-- <mat-form-field style="width: 55%; height: 10%;"> -->
                <!-- <mat-label>Inst. Date</mat-label> -->
                  <!-- <input matInput [matDatepicker]="picker" placeholder="MM/DD/YYYY" [formControl]="req_inst_date" [(ngModel)]="reqDateEntered"> -->
                  <input matInput [matDatepicker]="picker" placeholder="MM/DD/YYYY" [formControl]="req_inst_date" id="{{'req_inst_date'+i}}">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
              <!-- </mat-form-field> -->
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="comment">
              <mat-header-cell *matHeaderCellDef></mat-header-cell>
              <mat-cell *matCellDef="let element;let i = index">
              <!-- <mat-form-field style="width: 65%; height: 10%;"> -->
                <!-- <mat-label>Comments</mat-label> -->
                <!-- <textarea matInput placeholder="Comments..." [formControl]="commentFormControl" [(ngModel)]="commentEntered"></textarea> -->
                <textarea matInput placeholder="Comments..." [formControl]="commentFormControl" id="{{'commentFormControl'+i}}"></textarea>
            <!-- </mat-form-field>   -->
              </mat-cell> 
            </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;let i = index">
          </mat-row>
      </mat-table>
    <!-- </div> -->
    <br/>
    <div mat-dialog-actions>
      <button mat-button cdkFocusInitial (click)=addtocart()>Add to cart</button>
      <button mat-button mat-dialog-close cdkFocusInitial>Close</button>
    </div>
  </mat-dialog-content>
  
  
  