<!-- <button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon">close</mat-icon>
  </button> -->
<ngb-carousel style="text-align: center; background-color: black;" [wrap]=true>
    <ng-template ngbSlide *ngFor="let imgitem of inventoryItemImagesList;index as i;">
      <div class="picsum-img-wrapper">
        <img [src]="imgitem.image_url" alt="Random first slide" Height="720px" (click)="closeDialog()">
        <!-- <img [src]="'/assets/images/inventoryimg/'+imgitem.image_name" alt="Random first slide" Height="720px" (click)="closeDialog()"> -->
  
      </div>
      <div class="carousel-caption">
        <h3> Slide {{i + 1}} of {{inventoryItemImagesList.length}}</h3>      
      </div>
    </ng-template>
    
  </ngb-carousel>